<nav class="nav-extended blue">
    <div class="nav-wrapper light-blue-header">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><span>{{name}} - {{email}} &nbsp;| </span></li>
        <li><a ng-click="Logout()"> Sair </a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a>Noticias</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a>Noticias</a></li>
</ul>
